{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link href="{{url_for('static', filename='edit.css')}}" rel="stylesheet">
    <link href="{{bootstrap_find_resource('simplemde.css', cdn='simplemde-css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="center-block col-lg-10 col-md-10 col-sm-12 edit-col">
                <div class="panel panel-info">
                    {% block edit_form %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}