{% extends 'post/base.html' %}
{% import 'post/utils.html' as utils with context %}

{% block title %}{% if g.post_user.first_name %}{{ g.post_user.first_name }} {% endif %}{% if g.post_user.last_name %}{{ g.post_user.last_name }} {% endif %}@{{ g.post_user.username }}{% endblock %}

{% block head %}
{{ super() }}
{% if page > 1 %}<link rel="prev" href="{{ url_for('post.posts', username=g.post_user.username, page=(page - 1)) }}">{% endif %}
{% if page < total_pages %}<link rel="next" href="{{ url_for('post.posts', username=g.post_user.username, page=(page + 1)) }}">{% endif %}
{% endblock %}

{% block content %}
    <div class="container post-container">
        {% if page == 1 %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <img src="{{ g.post_user.logotype }}" alt="logotype" class="post-logotype-small img-circle">
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            {% if g.post_user.first_name %}{{ g.post_user.first_name }} {% endif %}{% if g.post_user.last_name %}{{ g.post_user.last_name }} {% endif %}@{{ g.post_user.username }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-4">
                                            Registered: {{ moment(g.post_user.registered).fromNow() }}
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-4">
                                            Edited: {{ moment(g.post_user.edited).fromNow() }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            {{ g.post_user.about_time // 60 }} minutes to read
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            {{ g.post_user.about }}
                        </div>
                        {% if tags %}
                            <div class="panel-footer text-center">
                                {% for tag in tags %}
                                    <a class="label label-primary" href="{{ url_for('post.posts_by_tag', username=g.post_user.username, tagname=tag) }}">{{ tag }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% for post in posts %}
            {{ utils.post_item(post) }}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ utils.infinite_scroll('.post-container', url_for('post.posts', username=g.post_user.username, page=2)|replace('2', '{{#}}'), '.post') }}
{% endblock %}