{% extends 'post/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="center-block col-lg-10 col-md-10 col-sm-12 post-col">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h1>This</h1>
                    </div>
                    <div class="panel-body">
                        Is
                    </div>
                    <div class="panel-footer">
                        Post
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}