{% extends 'user/base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}
{% import 'bootstrap/utils.html' as utils %}

{% block title %}{{ form_title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="center-block col-lg-4 col-md-5 col-sm-6 user-col">
                <div class="user-card">
                    <h1 class="user-title">{{ form_title }}</h1>
                    {{ utils.flashed_messages(container=False) }}
                    {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}